# Pelican local env, AGPL-3.0 license

hostname: "localhost"
baseExternalUrl: "http://localhost:40110"

PELICAN_AWS_ACCESS_KEY_ID: "admin"
PELICAN_AWS_ACCESS_SECRET_KEY: "rootPassword"
PELICAN_AWS_ENDPOINT: "http://minio-s3:9000"
PELICAN_AWS_BUCKET: "pelican-local-env"

PELICAN_DATABASE_HOST: "postgresql"
PELICAN_DATABASE_PORT: "5432"
PELICAN_DATABASE_NAME: "pelican_db"
PELICAN_DATABASE_USERNAME: "postgres"
PELICAN_DATABASE_PASSWORD: "admin"