# Pelican local env, AGPL-3.0 license

extraConfigMapEnvVars:
  AWS_ACCESS_KEY_ID_UPLOAD: "lololo"
  AWS_SECRET_ACCESS_KEY_UPLOAD: "lololo"
  AWS_HOST_UPLOAD: "lololo"
  AWS_BUCKET_NAME_UPLOAD: "lololo"
  AWS_ACCESS_KEY_ID_DOWNLOAD: "admin"
  AWS_SECRET_ACCESS_KEY_DOWNLOAD: "rootPassword"
  AWS_HOST_DOWNLOAD: "http://minio-s3:9000"
  AWS_BUCKET_NAME_DOWNLOAD: "pelican-local-env"
