# Pelican local env, AGPL-3.0 license

image:
  tag: "local-env-latest"

extraConfigMapEnvVars:
  API_URL: "http://pelican-cms-nginx:40110/api"
  PREVIEW_SECRET: "{{ .Values.PELICAN_PREVIEW_SECRET }}"