# Pelican local env, AGPL-3.0 license

global:
    postgresql:
        auth:
            postgresPassword: "{{ .Values.PELICAN_DATABASE_PASSWORD }}"
            username: "{{ .Values.PELICAN_DATABASE_USERNAME }}"
            password: "{{ .Values.PELICAN_DATABASE_PASSWORD }}"
            database: "{{ .Values.PELICAN_DATABASE_NAME }}"

primary:
    service:
        type: NodePort
        nodePorts:
            postgresql: 30125

#    persistence:
#        size: {{ env "POSTGRES_PV_SIZE" }}

